@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
}
header{
background-color: rgb(23, 23, 71);
width: 100%;
position: fixed;
z-index:999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}
.logo{
text-decoration:none;
color: rgb(255, 255, 255);
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}
.navication a {
text-decoration:none;
color: rgb(97, 127, 226);
text-transform: uppercase;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}

section{
padding: 100px 200px ;
display: flex;
flex-direction: column;
}
.section.main{
     padding: 0 0 0 150px;
     align-items: flex-start;
     padding-top: 150px;
}
.main {

width: 100%;
min-height: 100vh;
display: flex;
align-items: flex-start;
justify-content: flex-start;
background: url(b/pexels-pixabay-373543.jpg) no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-blend-mode: darken;
padding-top: 180px;

}         
.main h1{
color: rgb(255, 255, 255);
-webkit-text-stroke: 0.3px black;
 text-shadow: 0 0 6px rgba(0,0,0,0.5);
font-size: 1.4em; 
font-weight: 700;
 text-align: left;

}
.main h1 span{
color: aliceblue;
font-size: 1.9em;
 text-shadow: 0 0 6px rgba(0,0,0,0.5);
 -webkit-text-stroke: 0.2px black;
display: inline-block;
margin-top: 10px;


}
.main h2 {
color: rgb(255, 255, 255);
font-size: 1.5em; 
font-style: italic;
font-variant: small-caps;
 text-shadow: 0 0 6px rgba(0,0,0,0.5);
 -webkit-text-stroke: 0.px black;
 margin-top: 10px;
 margin-bottom: 30px;

text-align: left;
}

.main-btn{
color: #fff;
background-color: rgb(8, 8, 88);
text-decoration: none;
font-size:1.1em ;
font-weight: 600;
display: inline-block;
padding: 0.9375em 2.1875em;
border-radius: 14px;
margin-bottom: 20px;
transition: 0.6s ease;

}
.main-btn:hover{
background-color: rgb(21, 10, 64);
transform: scale(1.04);



}
.social{
     display: flex;
     text-align: left;
     gap: 20px;
     margin-top: 20px;
}
.social a{ 
color: #fff;
font-size: 1.7em;

line-height: 1;
display: inline-flex;
align-items: center;
justify-content: center;
transition: opacity .2s ease, transform .2s ease;

}

.social a:hover{
   opacity: 0.7;
   transform: scale(1.2);
}

.title{
   display: flex;
   justify-content: center;
   font-size: 300%;
   font-weight: 500;
   color: rgb(8, 8, 88);
   margin-bottom: 30px;
   width: 100%;
}
.content{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   
}
.card{
   background-color: rgb(255, 255, 255);
  border-radius: 10px;
   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
   width: 20em;
  padding: 27px;
  margin: 14px;
transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card:hover{
   transform: translateY(-10px);
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);

}
.icon{
     font-size: 50px;
     color: rgb(8, 8, 88);
     margin-bottom: 15px;
     text-align: center;
}
.info{
text-align: center;
font-size: 1em;
margin-bottom: 20px;
}
.skills-badges{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
   margin-top: 10px;
}
.project-img {
  width: 100%;
  height: 200px; /* مهم */
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
